<!DOCTYPE html>

<script type="text/javascript">

var wSocket;

$( document ).ready(function() {
    var addr = document.getElementById('node_ip').innerHTML
      
   	wSocket = new WebSocket("ws://" + addr + "/node");
   		
   	wSocket.onmessage = function (event) {
	  console.log(event.data);
	  NodeResponse(event)
	}
	
	/*wSocket.onopen = function (event) {
		var msg = {
			    type: "message",
			    text: "test sending GET",
			    id:   1,
			    date: Date.now()
		    };
		wSocket.send(JSON.stringify(msg));
	}*/
	
});

function sendMsg(wSocket, action) {
  // Construct a msg object containing the data the server needs to process the message from the chat client.
  var msg;
  switch(action) {
    case 1: //GET
    	msg = {
		    type: "message",
		    text: "test sending GET",
		    id:   1,
		    date: Date.now()
	    };
    	break;
    case 2: //PUT
    	msg = {
		    type: "message",
		    text: "test sending GET",
		    id:   1,
		    date: Date.now()
	    };
    	break;
    case 3: //UPDATE
    	msg = {
		    type: "message",
		    text: "test sending GET",
		    id:   1,
		    date: Date.now()
	    };
    	break;
    case 4: //DELETE
    	msg = {
		    type: "message",
		    text: "test sending GET",
		    id:   1,
		    date: Date.now()
	    };
    	break;
    	
  }
  // Send the msg object as a JSON-formatted string.
  wSocket.send(JSON.stringify(msg));
}

function NodeResponse(event) {
	var msg = JSON.parse(event.data);
	document.getElementById('resultfield').innerHTML = msg.text
}

function DoGet(addr) {
	var key = document.getElementById('getInputKey').value
	console.log("DOGET -> Addr:" + addr + " Key: " + key)
	window.location.href = "/lab4/" + addr + "/storage/" + key;
}

function DoUpdate(addr) {
	var key = document.getElementById('getInputKey').value
	var newVal = document.getElementById('putInputValue').value
	$.ajax({
	   url: "/lab4/"+addr+"/storage/"+key,
	   type: "PUT",
	   data: "&newVal="+newVal,
	   success: function(data) {
	     alert(data);
	   }
	});
}

function DoDelete(addr) {
	var key = document.getElementById('getInputKey').value
	$.ajax({
	   url: "/lab4/"+addr+"/storage/"+key,
	   type: "DELETE",
	   success: function(data) {
	     alert(data);
	   }
	});
}

</script>

<html>
    <body>
    <p id="node_ip" class="hidden"><%= node_addr %></p>
    
    <% if( typeof socket_action != 'undefined' ){ %>
    	<p id="socket_action" class="hidden"><%= socket_action %></p>
	<%}%>
    
        <article class="center-block">  
			<h1> Connected to node <%= node_addr %> </h1>
			</br>
		    <div class="form-group">
		    	<label for="getInputKey">Key value</label>
		    	<input type="text" class="form-control" id="getInputKey" placeholder="Enter Key">
		  	</div>
			
			<ul class="nav nav-tabs" role="tablist">
			  <li class="active"><a href="#getTab" role="tab" data-toggle="tab">GET</a></li>
			  <li><a href="#postTab" role="tab" data-toggle="tab">POST</a></li>
			  <li><a href="#putTab" role="tab" data-toggle="tab">PUT</a></li>
			  <li><a href="#deleteTab" role="tab" data-toggle="tab">DELETE</a></li>
			</ul>
			<!-- Tab panes -->
			<div class="tab-content">
			</br>
			  <div class="tab-pane active" id="getTab">
				  <button onclick="DoGet('<%= node_addr %>')" class="btn btn-primary">Execute GET</button>
			  </div>
			  <div class="tab-pane" id="postTab">
			  	<form action="/lab4/<%= node_addr %>/storage" method="POST">
				  	<div class="form-group">
				    	<label for="postInputValue">New value to be stored</label>
				    	<input type="text" name="newVal" class="form-control" id="postInputValue" placeholder="Enter Key">
				  	</div>
				  	<button type="submit" class="btn btn-success">Execute POST</button>
			  	</form>
			  </div>
			  <div class="tab-pane" id="putTab">
		  		<div class="form-group">
			    	<label for="putInputValue">New value to be stored</label>
			    	<input type="text" name="newVal" class="form-control" id="putInputValue" placeholder="Enter new value">
			  	</div>
			  	<button onclick="DoUpdate('<%= node_addr %>')" class="btn btn-warning">Execute PUT</button>
			  </div>
			  <div class="tab-pane" id="deleteTab">
			  	<button onclick="DoDelete('<%= node_addr %>')" class="btn btn-danger">Execute DELETE</button>
		  	  </div>
			</div>
			</br></br></br>
			<h4> Result </h4>
			<textarea class="form-control" rows="3"></textarea>
		</article>
     </body>
</html>

