<!DOCTYPE html>

<script type="text/javascript">

var wSocket;

$( document ).ready(function() {
    var addr = document.getElementById('node_ip').innerHTML
    var action = document.getElementById('socket_action').innerHTML
    console.log("Action: " + action)
      
   	wSocket = new WebSocket("ws://" + addr + "/node");
   		
   	wSocket.onmessage = function (event) {
	  console.log(event.data);
	  NodeResponse(event)
	}
	
	if(typeof action != 'undefined') {
		wSocket.onopen = function (event) {
			var msg;
			switch(parseInt(action)) {
			    case 1: //POST
			    	console.log("Post msg")
			    	var newKey = document.getElementById('newVal').innerHTML
			    	msg = {
					    type: "message",
					    text: "test sending POST: " + newKey,
					    id:   1,
					    date: Date.now()
				    };
					wSocket.send(JSON.stringify(msg));
			    	break;
			}
		}	
	}
});

function NodeResponse(event) {
	var msg = JSON.parse(event.data);
	document.getElementById('resultfield').innerHTML = msg.text
}

function DoGet(addr) {
	var key = document.getElementById('getInputKey').value
	console.log("DOGET -> Addr:" + addr + " Key: " + key)
	window.location.href = "/lab4/" + addr + "/storage/" + key;
}

function DoUpdate(addr) {
	var key = document.getElementById('putInputKey').value
	var newVal = document.getElementById('putInputValue').value
	$.ajax({
	   url: "/lab4/"+addr+"/storage/"+key,
	   type: "PUT",
	   data: "&newVal="+newVal,
	   success: function(data) {
	     alert(data);
	   }
	});
}

function DoDelete(addr) {
	var key = document.getElementById('deleteInputKey').value
	$.ajax({
	   url: "/lab4/"+addr+"/storage/"+key,
	   type: "DELETE",
	   success: function(data) {
	     alert(data);
	   }
	});
}

</script>

<html>
    <body>
    <p id="node_ip" class="hidden"><%= node_addr %></p>
    
    <p id="socket_action" class="hidden">
	    <% if( typeof socket_action != 'undefined' ){ %>
	    	<%= socket_action %>
		<%}%>
	</p>
	
	<p id="newVal" class="hidden">
	    <% if( typeof newVal != 'undefined' ){ %>
	    	<%= newVal %>
		<%}%>
	</p>
	    
        <article class="center-block">  
			<h1> Connected to node <%= node_addr %> </h1>
			</br>
		    
			<ul class="nav nav-tabs" role="tablist">
			  <li class="active"><a href="#getTab" role="tab" data-toggle="tab">GET</a></li>
			  <li><a href="#postTab" role="tab" data-toggle="tab">POST</a></li>
			  <li><a href="#putTab" role="tab" data-toggle="tab">PUT</a></li>
			  <li><a href="#deleteTab" role="tab" data-toggle="tab">DELETE</a></li>
			</ul>
			<!-- Tab panes -->
			<div class="tab-content">
			</br>
			  <div class="tab-pane active" id="getTab">
			  	<div class="form-group">
		    		<label for="getInputKey">Key value</label>
		    		<input type="text" class="form-control" id="getInputKey" placeholder="Enter Key">
		  		</div>
				<button onclick="DoGet('<%= node_addr %>')" class="btn btn-primary">Execute GET</button>
			  </div>
			  <div class="tab-pane" id="postTab">
			  	<form action="/lab4/<%= node_addr %>/storage" method="POST">
				  	<div class="form-group">
				    	<label for="postInputValue">New value to be stored</label>
				    	<input type="text" name="newVal" class="form-control" id="postInputValue" placeholder="Enter Key">
				  	</div>
				  	<button type="submit" class="btn btn-success">Execute POST</button>
			  	</form>
			  </div>
			  <div class="tab-pane" id="putTab">
			  	<div class="form-group">
		    		<label for="putInputKey">Key value to update</label>
		    		<input type="text" class="form-control" id="putInputKey" placeholder="Enter key to update">
		  		</div>
		  		<div class="form-group">
			    	<label for="putInputValue">New value to be stored</label>
			    	<input type="text" name="newVal" class="form-control" id="putInputValue" placeholder="Enter new value">
			  	</div>
			  	<button onclick="DoUpdate('<%= node_addr %>')" class="btn btn-warning">Execute PUT</button>
			  </div>
			  <div class="tab-pane" id="deleteTab">
			  	<div class="form-group">
		    		<label for="deleteInputKey">Key to delete</label>
		    		<input type="text" class="form-control" id="deleteInputKey" placeholder="Enter key to delete">
		  		</div>
			  	<button onclick="DoDelete('<%= node_addr %>')" class="btn btn-danger">Execute DELETE</button>
		  	  </div>
			</div>
			</br></br></br>
			<h4> Result </h4>
			<textarea id="resultfield" class="form-control" rows="3"></textarea>
		</article>
     </body>
</html>

